<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Email Confirmation Successful</h1>
        <p>Welcome to FFLAnalyzer! This email confirms that your account was set-up correctly. To log in, click on the following link:</p>
        <a href="{{ login_url }}">Click here to log in</a>
    </div>
</body>
</html>
